<template name="Landing">
  <section class="notices landing">
    <div class="flash error">
      Sadly, the exfm api has been shutdown.
    </div>
  </section>
  <section class="main landing">
    <section class="marketing">
      <h1>my<span class="faves">faves</span>.fm</h1>
      <h2>Listen to all your favorite tracks pulled from <b>Soundcloud</b>, <b>Hype Machine</b>, and <b>Exfm</b>.</h2>
    </section>
    <section class="inputs">
      <form>
        <h3>Simply enter your usernames</h3>
        <h4>Don't have one? <a id="demo" href="#">Just play some music</a></h4>
        <input type="text" id="sc_username" placeholder="Soundcloud Username">
        <input type="text" id="exfm_username" disabled="disabled" placeholder="Exfm Username" autofocus>
        <input type="text" id="hypem_username" disabled="disabled" placeholder="HypeMachine Username">
        <button id="submit">Start Listening</button>
      </form>
    </section>
  </section>
  <footer class="landing">
    <div class="inner-wrapper">
      <p>Built by <a href="http://lapier.me">Philip LaPier</a></p>
      {{> twitter_buttons}}
    </div>
  </footer>
</template>

