//************************************************************************//
// Animation KeyFrames
//************************************************************************//
@mixin animation-show-alert () {
  // @include animation(show-alert 0.4s ease-in);
  @include animation(show-alert 1.0s ease-in);
}
@include keyframes(show-alert) {
  0% {
    @include transform(scale(0));
    opacity: 0;
  }
  50%, 60% {
    opacity: 1;
  }
  100% {
    @include transform(scale(4));
    opacity: 0;
  }
}

%animation-show-track {
  @include animation(show-track 0.5s $ease-out-back forwards);
}
@include keyframes(show-track) {
  0% {
    @include transform(scale(0.90));
    // @include transform(translate(10%, -20px));
    opacity: 0;
  }
  100% {
    @include transform(scale(1));
    // @include transform(translate(0%, 0px));
    opacity: 1;
  }
}

%animation-fade-in {
  @include animation(fade-in 0.5s $ease-out-back forwards);
}
@include keyframes(fade-in) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


%animation-show-modal {
  @include animation(show-modal 1s $ease-out-back forwards);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: visible;
  @include transform-origin(top);
}

@include keyframes(show-modal) {
  0% {
    @include transform(rotateX(-40deg));
    box-shadow: none;
  }
  100% {
    @include transform(rotateX(0deg));
    box-shadow: 0 7px 0 $modal-shadow;
  }
}

%animation-fade-out {
  @include animation(fade-out 2s $ease-out-back forwards);
}
@include keyframes(fade-out) {
  0% {
    background: hsla(0, 0%, 0%, 0.45);
  }
  100% {
    background: hsla(0, 0%, 0%, 0.0);
    visibility: hidden;
  }
}

%animation-hide-modal {
  @include animation(hide-modal 0.3s $ease-in-quad forwards);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: visible;
  @include transform-origin(center);
}

@include keyframes(hide-modal) {
  0% {
    @include transform(translateY(0px));
    // @include transform(scale(1));
    opacity: 1;
  }
  98% {
    opacity: 0;
  }
  100% {
    // @include transform(scale(1.5));
    @include transform(translateY(100px));
    opacity: 0;
  }
}
