$header-height: 60px;
$sidebar-width: 300px;

header.playlist-header {
  background: $header-background-1;
  @include clearfix;
  color: $header-color-1;
  height: 100%;
  position: fixed;
  width: $sidebar-width;
  z-index: 1;

  h1 {
    background: hsla(0, 0%, 0%, 0.075);
    color: #1abc9c;
    font-size: 34px;
    margin: 0 0 15px 0;
    padding: 15px 0 15px $gutter;
  }

  div.user-info {
    position: relative;

    div.dropdown {
      input {
        background: transparent;
        border: 0;
        color: $header-color-1;
        color: $white;
        font-size: 28px;
        margin-bottom: 4px;
        padding: 10px $gutter 14px;
        width: $sidebar-width;

        &:hover, &:focus {
          background: #2980B9;
          background: #3498DB;
          outline: none;

          @include placeholder {
            color: hsla(0, 0%, 100%, 0.7);
          }
        }

        &:focus {
          background: #3498DB;
        }

        @include placeholder {
          color: #6285a8;
          color: hsla(0, 0%, 100%, 0.25);
          font-size: 22px;
          font-weight: 600;
          line-height: 34px;
        }

        &:last-child {
          padding-bottom: 14px;
        }

        &.error {
          background: #e74c3c;
        }
      }
    }
  }
}

