header.playlist-header {
  background: $header-background-1;
  @include clearfix;
  color: $header-color-1;
  height: 100%;
  position: fixed;
  width: $sidebar-width;
  z-index: 1;

  @include media($tablet) {
    height: auto;
    position: static;
    width: 100%;
  }

  h1 {
    background: hsla(0, 0%, 0%, 0.075);
    color: $title-color;
    font-family: $title-font-family;
    font-size: 34px;
    margin: 0 0 15px 0;
    padding: 15px 0 15px $gutter;

    span {
      letter-spacing: -1px;
      margin-left: 1px;
    }
  }

  div.user-info {
    position: relative;

    input {
      background: transparent;
      border: 0;
      border-radius: 0;
      color: $white;
      font-size: 28px;
      margin-bottom: 4px;
      padding: 10px $gutter 14px;
      width: $sidebar-width;

      @include media($tablet) {
        width: 100%;
      }

      &:hover, &:focus {
        background: #3498DB;
        outline: none;

        @include placeholder {
          color: hsla(0, 0%, 100%, 0.7);
        }
      }

      &:focus {
        background: #3498DB;
      }

      @include placeholder {
        color: hsla(0, 0%, 100%, 0.25);
        font-size: 22px;
        font-weight: 600;
        line-height: 34px;
      }

      &:last-child {
        padding-bottom: 14px;
      }

      &.error {
        background: #e74c3c;
      }
    }
  }
}

div.shortcuts {
  $char-color: #576877;
  position: fixed;
  bottom: 0;
  margin-left: $gutter;
  padding-bottom: 20px;

  &:hover span {
    opacity: 1;
  }

  @include media($tablet) {
    display: none;
  }

  span {
    color: lighten($char-color, 5%);
    font-size: 12px;
    opacity: 0;
    position: absolute;
    top: -24px;
    @include transition;
  }

  div {
    border-radius: 2px;
    height: 30px;
    width: 30px;
    border: 1px solid $body-background;
    float: left;
    background: darken($body-background-alt, 2%);

    &.left {
      margin-right: 5px;
      position: relative;

      &:before, &:after {
        content: "";
        position: absolute;
        top: 9px;
        @include triangle(10px, $char-color, left)
      }

      &:before {
        right: 10px;
      }

      &:after {
        right: 15px;
      }
    }

    &.up {
      margin-top: -35px;
    }

    &.down { }

    &.right {
      margin-left: 5px;
      position: relative;

      &:before, &:after {
        content: "";
        position: absolute;
        top: 9px;
        @include triangle(10px, $char-color, right)
      }

      &:before {
        left: 10px;
      }

      &:after {
        left: 15px;
      }
    }

    &.space {
      margin-right: 10px;
      width: 120px;
      position: relative;

      &:before, &:after {
        background: $char-color;
        content: "";
        height: 10px;
        position: absolute;
        top: 9px;
        width: 3px;
      }

      &:before {
        @include calc(left, "50% - 2px");
      }

      &:after {
        @include calc(left, "50% + 3px");
      }
    }
  }
}

