
html, body {
  height: 100%;
}

body {
  background: #EEE;
  position: relative;
  font-family: $base-font-family;
}

ol, ul {
  margin: 0;
}

* {
  @include box-sizing(border-box);
}

div.overlay {
  $width: 600px;
  $height: golden-ratio($width, -3);
  height: $height;
  left: 50%;
  margin-left: -$width  / 2;
  margin-top:  (-$height - 75px) / 2;
  position: fixed;
  top: 50%;
  width: $width;
  z-index: 1;

  input {
    border: 0px;
    border-radius: 4px;
    box-shadow: 0 2px 18px 0 hsla(0, 0%, 0%, 0.4);
    font-size: 50px;
    padding: 0 20px;
    font-weight: 200;
    height: 100%;
    width: 100%;
    border: 1px solid darken($secondary-color, 5%);

    @include placeholder {
      font-style: italic;
    }

    &:focus, &:active {
      box-shadow: 0;
      outline: none;
    }
  }
}

section.main {
  ol {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      background: $secondary-background;
      position: relative;

      a {
        color: $secondary-color;
        // opacity: 0.5;
        display: block;
        display: table;
        height: 116px;
        padding: 20px 32px;
        text-decoration: none;
        // @include transition(all 0.08s);
        width: 100%;

        &:hover {
          // opacity: 1.0;
          // @include transition(all 0.3s);
        }
      }

      .playtoggle {
        // background-image: url("/images/play.svg");
        -webkit-mask-image: url("/images/play.svg");
        mask: url("/images/play.svg");
        clip-path: url("/images/play.svg");
        background-color: $secondary-color;
        -webkit-mask-position: 50% 50%;
        // -webkit-mask-size: 50px 50px;
        -webkit-mask-repeat: no-repeat;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        @include background-size(contain);
        display: table-cell;
        height: 50px;
        width: 50px;
      }

      &.playing-track {
        background: $primary-background;

        a {
          color: $primary-color;
          opacity: 1.0;
          @include transition(all 0s);

          .playtoggle {
            -webkit-mask-image: url("/images/pause.svg");
            mask: url("/images/pause.svg");
            background-color: $primary-color;
          }
        }

        .buffer {
          background-color: $primary-color;
          opacity: 1;
        }

        &.paused .playtoggle {
          -webkit-mask-image: url("/images/play.svg");
          mask: url("/images/play.svg");
        }
      }

      div.title {
        display: table-cell;
        font-size: $title-font-size;
        font-weight: $title-font-weight;
        margin-left: 48px;
        padding-left: 50px;
        vertical-align: middle;
      }

      div.progress {
        height: 100%;
        position: absolute;
        @include transition;
        top: 0;
        left: 0;
        background-color: hsla(0, 0%, 100%, 0.12);
        z-index: 1;
      }

      div.buffer {
        background: rgba($secondary-color, 0.35);
        opacity: 0;
        @include transition;
        bottom: 0;
        height: 4px;
        left: 0;
        position: absolute;
      }
    }
  }
}
