//************************************************************************//
// Landing Page Template
//************************************************************************//
$max-width: 700px;
$padding-lr: 5vw;

section.notices.landing {
  margin: 0;

  div:only-child {
    border-radius: 0;
  }
}

section.marketing {
  padding: 5vh $padding-lr 8vh;

  h1 {
    color: $title-color;
    font-family: $title-font-family;
    font-size: 130px;
    letter-spacing: -3px;
    font-weight: 600;
    line-height: 1;
    margin: 0 0 3vh;
    text-align: center;
    $shadow: darken($title-color, 15%);
    text-shadow: 0 1px 0 $shadow, 0 2px 0 $shadow,
                 0 3px 0 $shadow, 0 4px 0 $shadow;

    @include media($tablet) {
      font-size: 16vw;
    }

    @include media($mobile) {
      text-shadow: 0 1px 0 $shadow, 0 2px 0 $shadow;
    }

    span.faves {
      color: $white;
      margin-left: 4px;
      $shadow: #bdc3c7;
      $shadow: darken(#bdc3c7, 4%);
      text-shadow: 0 1px 0 $shadow, 0 2px 0 $shadow,
                   0 3px 0 $shadow, 0 4px 0 $shadow;

      @include media($mobile) {
        text-shadow: 0 1px 0 $shadow, 0 2px 0 $shadow;
      }
    }
  }

  h2 {
    text-align: center;
    color: $white;
    font-size: 2.2em;
    font-weight: 200;
    line-height: 1.4em;
    margin: 0 auto;
    width: $max-width;

    @include media($tablet) {
      width: 100%;
    }
  }
}


section.inputs {
  background: $body-background-alt;
  padding: 5vh $padding-lr 9vh;

  h3 {
    margin: 0 auto;
    color: #fff;
    font-size: 2.0em;
    margin-bottom: 0.2em;
    font-weight: 500;
    text-align: center;
  }

  h4 {
    color: $white-trans;
    font-weight: 500;
    margin-bottom: 2em;
    margin-top: 0;
    text-align: center;

    a {
      color: transparentize($white, 0.45);

      &:hover {
        color: $turquoise;
      }
    }
  }

  form {
    margin: 0 auto;
    width: 50vw;

    @include media($tablet) {
      width: 100%;
    }
  }

  input {
    border: 0;
    border-radius: 4px;
    font-size: 28px;
    font-weight: 200;
    height: 80px;
    padding: 0 20px;
    width: 100%;
    color: $body-background-alt;
    margin-bottom: 20px;

    &:focus, &:active {
      box-shadow: 0;
      outline: none;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  button {
    @include appearance(none);
    background: $secondary-background;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 $shadow-height 0 $secondary-color;
    color: $white;
    font-size: 36px;
    font-weight: 600;
    padding: 20px;
    text-align: center;
    width: 100%;
    @include transition;

    &:active {
      @include transform(translateY(5px));
      box-shadow: none;
    }
  }
}

footer.landing {
  padding: 30px $padding-lr 25px;
  text-align: right;

  div.inner-wrapper {
    width: 50vw;
    margin: 0 auto;
  }

  a {
    color: #bdc3c7;
    text-decoration: none;
    text-wrap: none;

    &:hover {
      color: #e74c3c;
    }
  }

  p {
    color: transparentize($white, 0.45);
    float: left;
    font-size: 11px;
    margin-top: 4px;

    @include media($tablet) {
      text-align: center;
      float: none;
    }
  }

  iframe {
    &:first-of-type {
      margin-right: 5px
    }

    @include media($tablet) {
      clear: both;
      display: block;
      margin: 5px auto;

      &:first-of-type {
        margin: 5px auto;
      }
    }
  }
}
