footer.about {
  background: hsla(0, 0%, 0%, 0.45);
  font-size: 10px;
  height: 100%;
  position: fixed;
  visibility: hidden;
  @include perspective(800px);
  width: 100%;
  z-index: 2;

  &.show {
    visibility: visible;
    @extend %animation-fade-in;

    .inner-wrapper {
      @extend %animation-show-modal;
    }
  }

  &.hide {
    visibility: visible;
    opacity: 1;
    @extend %animation-fade-out;

    .inner-wrapper {
      @extend %animation-hide-modal;
    }
  }

  .inner-wrapper {
    $height: 400px;
    $width: 500px;
    background: $modal-background;
    border-radius: $border-radius;
    box-shadow: 0 $shadow-height 0 $modal-shadow;
    color: hsla(0, 0%, 100%, 0.75);
    height: $height;
    @include calc(left, '50% - #{$width/2}');
    @include calc(top, '45% - #{$height/2}');
    position: absolute;
    width: $width;

    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  header, section, footer {
    padding: 40px 30px;
  }

  header.avatar {
    text-align: center;
    padding-bottom: 0;

    img {
      $size: 100px;
      border-radius: $size;
      box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.07);
      display: inline-block;
      height: $size;
      margin: 0 auto;
      width: $size;
    }

    a {
      &:hover {
        text-decoration: none;
      }

      h2 {
        font-size: 24px;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 1.2em;
      }
    }
  }

  section.about {
    text-align: center;
    border-bottom: 2px solid rgba($red-alt, 0.4);
    padding-top: 20px;
    padding-bottom: 25px;

    h3 {
      font-weight: 400;
      font-size: 13px;
    }

    div.social {
      a {
        background: #ECF0F1;
        border-radius: 3px;
        box-shadow: 0 3px 0 #BDC3C7;
        color: #7F8C8D;
        display: inline-block;
        font-size: 13px;
        font-weight: bold;
        padding: 5px 10px;
        text-decoration: none;
      }

      iframe {
        margin: 10px auto;
      }
    }
  }

  footer {
    padding-top: 25px;
    padding-bottom: 20px;
    text-align: center;

    p {
      margin: 0.5em 0;
    }
  }
}
