#loading-spinner {
  height: 90vh;
}

// li.exfm {
  // background: orange !important;
  // &.c2 {
    // background: darken(orange, 10%) !important;
  // }
  // &.c3 {
    // background: darken(orange, 20%) !important;
  // }
// }

// li.hypem {
  // background: darken(purple, 0%) !important;
  // &.c2 {
    // background: darken(purple, 10%) !important;
  // }
  // &.c3 {
    // background: darken(orange, 20%) !important;
  // }
// }

section.main.playlist {
  float: left;
  margin-left: $sidebar-width;
  clear: both;
  @include calc(width, "100% - " + $sidebar-width);

  @include media($tablet) {
    float: none;
    margin-left: 0;
    width: 100%;
  }

  ol {
    list-style: none;
    margin: 40px 0 0;
    padding: 0;

    li {
      // @extend %animation-show-track;
      padding: 0 10% 40px;
      opacity: 0;

      @include media($tablet) {
        margin: 30px $gutter;
      }

      @include media($mobile) {
        margin: 20px 5%;
      }

      // $t: 0.05s;
      // $delay: 0s;
      // @for $child from 1 through 200 {
        // &.animate:nth-of-type(#{$child}) {
          // @include animation-delay($delay);
          // $delay: $delay + $t;
        // }
      // }

      // &.animate {
        // @extend %animation-show-track;
      // }

      &.button {
        opacity: 1;
      }

      &.show {
        opacity: 1;
      }

      a {
        background: $secondary-background;
        border-radius: $border-radius;
        box-shadow: 0 $shadow-height 0 $secondary-color;
        color: $white-trans;
        display: table;
        padding: 20px 32px;
        position: relative;
        table-layout: fixed;
        text-decoration: none;
        width: 100%;
      }

      .playtoggle {
        $size: 30px;
        background-color: $white-trans;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        display: table-cell;
        @include size($size);
        clip-path:  url('/images/play.svg#polyclip');
        mask-image: url('/images/play.svg#poly');
        -webkit-mask-image: url("/images/play.svg#poly");
        -webkit-mask-position: 50% 50%;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: $size 36px;
      }

      &.playing {
        a {
          background: $primary-background;
          box-shadow: 0 $shadow-height 0 $primary-color;
          color: $primary-color;
          opacity: 1.0;
          @include transition(all 0s);

          .playtoggle {
            background-color: $primary-color;
            clip-path:  url('/images/pause.svg#polyclip');
            mask-image: url('/images/pause.svg#poly');
            -webkit-mask-image: url("/images/pause.svg#poly");
          }
        }

        .buffer {
          background-color: $primary-color;
          opacity: 1;
        }

        &.paused .playtoggle {
          clip-path:  url('/images/play.svg#polyclip');
          mask-image: url('/images/play.svg#poly');
          -webkit-mask-image: url("/images/play.svg#poly");
        }
      }

      div.track-title {
        font-size: $title-font-size;
        font-weight: $title-font-weight;
        padding-left: $gutter;
        vertical-align: middle;

        @include media($mobile) {
          font-size: $title-font-size-mobile;
        }
      }

      div.progress {
        background-color: hsla(0, 0%, 100%, 0.12);
        border-radius: $border-radius;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        @include transition;
        z-index: 1;
      }

      div.buffer {
        background: rgba($secondary-color, 0.35);
        bottom: 0;
        height: 4px;
        left: 0;
        opacity: 0;
        position: absolute;
        display: none;
        @include transition;
      }
    }
  }
}

button.load-more {
  @include appearance(none);
  background: $turquoise;
  border: 0;
  border-radius: $border-radius;
  box-shadow: 0 $shadow-height 0 $turquoise-alt;
  color: $white-trans;
  display: table;
  font-size: 24px;
  padding: 20px 32px;
  width: 100%;

  @include media($mobile) {
    font-size: 14px;
  }

  span.text {
    display: inline-block;
    opacity: 1;
    pointer-events: none;
    @include transform(scale(1));
    @include transition(all 0.15s);

    &.hide {
      opacity: 0;
      @include transform(scale(0));
    }
  }

  div.spinner {
    @extend %spinner-zoom-in;
  }
}
