section.main.playlist {
  float: left;
  margin-left: 300px;
  clear: both;
  width: calc(100% - 300px);

  ol {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      // @extend %animation-show-track;
      background: $secondary-background;
      border-radius: $border-radius;
      box-shadow: 0 5px 0 $secondary-color;
      margin: 40px 10%;
      overflow: hidden;
      position: relative;

      // $t: 0.05s;
      // $delay: $t;
      // @for $child from 1 through 20 {
        // &:nth-child(#{$child}) {
          // @include animation-delay($delay);
        // }
        // $delay: $delay + $t;
      // }

      a {
        // color: $secondary-color;
        // color: hsla(0, 0%, 0%, 0.2);
        // color: $white;
        color: transparentize($white, 0.2);
        display: table;
        padding: 20px 32px;
        text-decoration: none;
        width: 100%;
      }

      .playtoggle {
        $size: 30px;
        // background-color: $secondary-color;
        // background-color: hsla(0, 0%, 0%, 0.2);
        background-color: transparentize($white, 0.2);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        display: table-cell;
        @include size($size);
        mask: url("/images/play.svg");
        -webkit-mask-image: url("/images/play.svg");
        -webkit-mask-position: 50% 50%;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: $size;
      }

      &.playing {
        background: $primary-background;
        box-shadow: 0 5px 0 $primary-color;

        a {
          color: $primary-color;
          opacity: 1.0;
          @include transition(all 0s);

          .playtoggle {
            background-color: $primary-color;
            -webkit-mask-image: url("/images/pause.svg");
            mask: url("/images/pause.svg");
          }
        }

        .buffer {
          background-color: $primary-color;
          opacity: 1;
        }

        &.paused .playtoggle {
          -webkit-mask-image: url("/images/play.svg");
          mask: url("/images/play.svg");
        }
      }

      div.track-title {
        display: table-cell;
        font-size: $title-font-size;
        font-weight: $title-font-weight;
        margin-left: 48px;
        padding-left: $gutter;
        vertical-align: middle;
      }

      div.progress {
        background-color: hsla(0, 0%, 100%, 0.12);
        border-radius: $border-radius;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        @include transition;
        z-index: 1;
      }

      div.buffer {
        background: rgba($secondary-color, 0.35);
        bottom: 0;
        height: 4px;
        left: 0;
        opacity: 0;
        position: absolute;
        @include transition;
      }
    }
  }
}
