header.playlist-header {
  background: $header-background-1;
  @include clearfix;
  color: $header-color-1;

  h1 {
    float: left;
    font-size: 32px;
    margin: 10px $gutter;
    margin-left: $gutter;
  }

  input {
    background: transparent;
    border: 0;
    clear: right;
    color: $header-color-1;
    float: right;
    font-size: 32px;
    padding: 10px $gutter;
    text-align: right;

    &:focus {
      background: $header-background-2;
      color: #eee;
      outline: none;
    }
  }
}

section.main.playlist {
  ol {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      background: $secondary-background;
      position: relative;

      a {
        color: $secondary-color;
        display: table;
        height: 116px;
        padding: 20px 32px;
        text-decoration: none;
        width: 100%;
      }

      .playtoggle {
        background-color: $secondary-color;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        @include background-size(contain);
        display: table-cell;
        height: 50px;
        -webkit-mask-image: url("/images/play.svg");
        mask: url("/images/play.svg");
        -webkit-mask-position: 50% 50%;
        -webkit-mask-repeat: no-repeat;
        width: 50px;
      }

      &.playing-track {
        background: $primary-background;

        a {
          color: $primary-color;
          opacity: 1.0;
          @include transition(all 0s);

          .playtoggle {
            background-color: $primary-color;
            -webkit-mask-image: url("/images/pause.svg");
            mask: url("/images/pause.svg");
          }
        }

        .buffer {
          background-color: $primary-color;
          opacity: 1;
        }

        &.paused .playtoggle {
          -webkit-mask-image: url("/images/play.svg");
          mask: url("/images/play.svg");
        }
      }

      div.title {
        display: table-cell;
        font-size: $title-font-size;
        font-weight: $title-font-weight;
        margin-left: 48px;
        padding-left: 50px;
        vertical-align: middle;
      }

      div.progress {
        background-color: hsla(0, 0%, 100%, 0.12);
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        @include transition;
        z-index: 1;
      }

      div.buffer {
        background: rgba($secondary-color, 0.35);
        bottom: 0;
        height: 4px;
        left: 0;
        opacity: 0;
        position: absolute;
        @include transition;
      }
    }
  }
}
