$primary-background: #F6D35D;
$primary-background-timer: #F4BC35;
$primary-color: #F4BC35;

// $primary-background: #5E0324;
// $primary-background-timer: lighten(#5E0324, 5%);
// $primary-color: darken(#5E0324, 10%);

$secondary-background: #2ECC71;
$secondary-color: #26AE60;
// $secondary-background: #393A40;
// $secondary-color: darken(#393A40, 10%);

$base-font-family: "proxima-nova-soft", $helvetica;
// $base-font-family: "museo-sans-rounded", $helvetica;
// $base-font-family: "omnes-pro", $helvetica;
$title-font-size: 36px;
$title-font-weight: 600;
