$primary-background: #F6D35D;
$primary-background-timer: #F4BC35;
$primary-color: #F4BC35;

$secondary-background: #2ECC71;
$secondary-color: #26AE60;

$header-background-1: darken($secondary-background,  5%);
$header-background-2: darken($secondary-background, 10%);
$header-color-1:      darken($secondary-color,  5%);
$header-color-2:      darken($secondary-color, 10%);

$white: #EEE;

$base-font-family: "proxima-nova-soft", $helvetica;
// $base-font-family: "museo-sans-rounded", $helvetica;
// $base-font-family: "omnes-pro", $helvetica;
$title-font-size: 36px;
$title-font-weight: 600;

$gutter: 32px;
