<template name="AboutModal">
  {{#constant}}
  <footer id="about" class="about">
    <div class="inner-wrapper">
      <header class="avatar">
        <a href="http://lapier.me">
          <h2>Built by Philip LaPier</h2>
          <img src="images/phil-avatar.jpg">
        </a>
      </header>
      <section class="about">
        <div class="social">
          {{> twitter_buttons}}
        </div>
      </section>
      <footer>
        <p>Built with <a href="http://meteor.js">Meteor.js</a> and <a href="http://bourbon.io">Bourbon</a>.</p>
        <p>APIs provided by Exfm, Hypem, and Soundcloud.</p>
        <p>Kudos to Sergey Shmidt and Designmodo for their inspirational <a href="http://designmodo.github.io/Flat-UI/">FlatUI</a>.</p>
      </footer>
    <div>
  </footer>
  {{/constant}}
</template>
