<template name="AboutModal">
  {{#constant}}
  <footer id="about" class="about">
    <div class="inner-wrapper">
      <div class="avatar">
        <a href="http://lapier.me">
          <img src="images/phil-avatar.jpg">
        </a>
      </div>
      <section class="about">
        <div class="social">
          {{> twitter_buttons}}
        </div>
        <div>Kudos to <a href="https://twitter.com/monstercritic">Sergey Shmidt</a> and <a href="https://twitter.com/designmodo">Designmodo</a> for their inspirational <a href="http://designmodo.github.io/Flat-UI/">FlatUI</a></div>
      </section>
    <div>
  </footer>
  {{/constant}}
</template>
