<template name="Header">
  <header class="playlist-header">
    <h1>my<span>faves</span>.fm</h1>
    <a href="#about" id="about-button" class="about">?</a>
    <div class="user-info">
      <input type="text" id="sc_username" placeholder="Soundcloud Username" value="{{ sc_username }}">
      <input type="text" id="exfm_username" placeholder="Exfm Username" value="{{ exfm_username }}">
      <input type="text" id="hypem_username" placeholder="Hypem Username" value="{{ hypem_username }}">
    </div>
    <div class="shortcuts">
      <span>Keyboard Shortcuts</span>
      <div class="space"></div>
      <div class="left"></div>
      <div class="up"></div>
      <div class="down"></div>
      <div class="right"></div>
    </div>
  </header>
</template>
